<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="google" content="notranslate">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <title><%= name %> рдХреА рддрд░рдл рд╕реЗ рд▓реА рдЧрдпреА рд╢рдкрде</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/hastag.css">
  <link rel="stylesheet" href="/stylesheets/animate.min.css">
  <script data-ad-client="ca-pub-4179074140543931" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  
<body>
<marquee class="m1" behavior="scroll" direction="up" scrolldelay="0"> <br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
</marquee>
<marquee class="m2" behavior="scroll" direction="down" scrolldelay="0"> <br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
</marquee>

<div class="mainContainer">
  <br>

  <h1 id="hashtag1" class="animated pulse infinite" style="font-family:SF Espresso Shack;font-size: 1.6em;">рдмреИрдареЗ рд░рд╣реМ рдЖрдкрдиреА рдХреБрдЯрд┐рдпрд╛ рдореЗрдВ рд╡рд░рдирд╛ рдорд┐рд▓реЛрдЧреЗ рдХрд┐рд╕реА рд▓реБрдЯрд┐рдпрд╛ рдореЗрдВ</h1>
  <h3 class="fromMessage" id="fromMessage"></h3>
  <h1 id="hashtag"  style="font-family:SF Espresso Shack;font-size: 1.6em;">#IndiaFightsCorona</h1>
  <h3 class="fromMessage" id="fromMessage"></h3>
  <br>
  <br>
  <br>
<div class="sandbox sandbox-correct-pronounciation">
  <h6 class="heading heading-correct-pronounciation">
    <em style="color:blueviolet;height: 20px;">рдореИрдВ</em>
  </h6>
</div>
    <br>
<h1 id="username" class="animated pulse infinite" style="font-family:SF Espresso Shack;"><%= name %></h1>
      <h3 class="fromMessage" id="fromMessage"></h3>
<br>
      <center><div class="w3-content w3-section" style="max-width:500px">
<img class="mySlides" src="/images/corona.webp" style="width: 75%; height: 250px; display: none;">
<img class="mySlides" src="/images/corona2.png" style="width: 75%; height: 250px; display: none;"></div></center>
<br>
<div class="GodMessage" style="text-shadow: 1px 1px 3px silver, 1px 1px 3px silver, -1px -1px 3px silver, -1px -1px 3px silver;font-size:27px">
  <div class="sandbox sandbox-correct-pronounciation">
    <h6 class="heading heading-correct-pronounciation">
      <em style="color:blue;font-size: 1.3em;height: 40px;"><span style="color: red;">рдХреЛрд░реЛрдирд╡рд╛рдпрд░рд╕</span> рдХреЗ рдЦрд┐рд▓рд╛рдл <span style="color: red;">рд▓рдбрд╝рдиреЗ</span></em>
    </h6>
  </div>
  <div class="sandbox sandbox-correct-pronounciation">
    <h6 class="heading heading-correct-pronounciation">
      <em style="color:blue;font-size: 1.3em;height: 40px;">рдХреЗ рд▓рд┐рдП рдЕрдкрдиреА <span style="color: red;">рд╕рд░рдХрд╛рд░</span> рдХреЗ рд╕рд╛рде</em>
    </h6>
  </div>
  <div class="sandbox sandbox-correct-pronounciation">
    <h6 class="heading heading-correct-pronounciation">
      <em style="color:blue;font-size: 1.3em;height: 40px;">рдЦрдбрд╝реЗ рд╣реЛрдиреЗ рдХреА <span style="color: red;">рд╢рдкрде</span> рд▓реЗрддрд╛ рд╣реВрдВред</em>
    </h6>
  </div>

  <br>
  <div class="sandbox sandbox-correct-pronounciation">
    <h6 class="heading heading-correct-pronounciation">
      <em style="color:violet;font-size: 1.2em;height: 40px;">рдХреГрдкреНрдпрд╛ рдЗрди рдмрд╛рддреЛрдВ рдХрд╛ рд░рдЦреЗрдВ рдзреНрдпрд╛рди & рд╢реЗрдпрд░ рдЬрд░реВрд░ рдХрд░реЗ</em>
    </h6>
  </div>
  <center><img  src="/images/points_corona.png" style="width: 100%; height: 100%; padding-left: 12px; padding-top: 20px;"></center>
<form method="POST" action="http://jaldi-dekho.co/ready.php">
<div class="enter-name">
  <input class="animated pulse infinite" type="name" required="" maxlength="50" name="n" placeholder="ЁЯСЙрдЖрдк рдЖрдкрдиреА рд╢рдкрде рд▓реЗ....">
  <button class="btn animated shake infinite" type="submit"><span>ЁЯСЙ </span> рджреЗрдЦреЗрдВ </button>
</div>
</form>
<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>

</div></div></div>