<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="google" content="notranslate">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <title><%= name %> की तरफ से ली गयी शपथ</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/hastag.css">
  <link rel="stylesheet" href="/stylesheets/animate.min.css">
  <script src=" "></script>
  <script data-ad-client="ca-pub-4179074140543931" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
  
<body onload="playSound()">

<div id="myNav-left" onclick="toggleNav()" class="overlay overlay-left">
  <div class="text-door">इस दरवाजे<br>करके खोले<br>हासिल</div>
  <div class="text-door-2"></div>
  <div class="handle handle-left"></div>
</div>
<div id="myNav-right" onclick="toggleNav()" class="overlay overlay-right">
  <div class="text-door">को क्लिक<br>और जानकारी<br>करें</div>
  <div class="text-door-2"></div>
  <div class="handle handle-right"></div>
</div>
<audio id="audioId" style="display:none;" controls autoplay="true">
  <source  src="/music/corona.mp3" type="audio/mpeg">
</audio>  
<script src="http://code.createjs.com/soundjs-0.5.2.min.js"></script>
<script>

function playSound() {
  // let sound = document.getElementById("audioId");
  // sound.currentTime = 0;
  // sound.loop = true; //if you want it to restart playing automatically when it ends
  // sound.play();
  if (!createjs.Sound.initializeDefaultPlugins()) {
    console.log("----hello---");
    return;
  }
 
 var audioPath = "music/";
 var sounds = [
     {id:"Music", src:"corona.mp3"}
 ];

 createjs.Sound.alternateExtensions = ["mp3"];
 createjs.Sound.addEventListener("fileload", handleLoad);
 createjs.Sound.registerSound({src:"/music/corona.mp3", id:"sound"});
}
function handleLoad(event) {
    createjs.Sound.play(event.src);
}
</script>
<marquee class="m1" behavior="scroll" direction="up" scrolldelay="0"> <br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
</marquee>
<marquee class="m2" behavior="scroll" direction="down" scrolldelay="0"> <br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
</marquee>

<div class="mainContainer">
  <br>

  <h1 id="hashtag1" class="animated pulse infinite" style="font-family:SF Espresso Shack;font-size: 1.6em;">बैठे रहौ आपनी कुटिया में वरना मिलोगे किसी लुटिया में</h1>
  <h3 class="fromMessage" id="fromMessage"></h3>
  <h1 id="hashtag"  style="font-family:SF Espresso Shack;font-size: 1.6em;">#IndiaFightsCorona</h1>
  <h3 class="fromMessage" id="fromMessage"></h3>
  <br>
<div class="sandbox sandbox-correct-pronounciation">
  <h6 class="heading heading-correct-pronounciation">
    <em style="color:blueviolet;height: 20px;">मैं</em>
  </h6>
</div>
    <br>
<h1 id="username" class="animated pulse infinite" style="font-family:SF Espresso Shack;"><%= name %></h1>
      <h3 class="fromMessage" id="fromMessage"></h3>
<br>
      <center><div class="w3-content w3-section" style="max-width:500px">
<img class="mySlides" src="/images/corona.webp" style="width: 75%; height: 250px; display: none;">
<img class="mySlides" src="/images/corona2.png" style="width: 75%; height: 250px; display: none;"></div></center>
<br>
<div class="GodMessage" style="text-shadow: 1px 1px 3px silver, 1px 1px 3px silver, -1px -1px 3px silver, -1px -1px 3px silver;font-size:27px">
  <div class="sandbox sandbox-correct-pronounciation">
    <h6 class="heading heading-correct-pronounciation">
      <em style="color:blue;font-size: 1.3em;height: 40px;"><span style="color: red;">कोरोनवायरस</span> के खिलाफ <span style="color: red;">लड़ने</span></em>
    </h6>
  </div>
  <div class="sandbox sandbox-correct-pronounciation">
    <h6 class="heading heading-correct-pronounciation">
      <em style="color:blue;font-size: 1.3em;height: 40px;">के लिए अपनी <span style="color: red;">सरकार</span> के साथ</em>
    </h6>
  </div>
  <div class="sandbox sandbox-correct-pronounciation">
    <h6 class="heading heading-correct-pronounciation">
      <em style="color:blue;font-size: 1.3em;height: 40px;">खड़े होने की <span style="color: red;">शपथ</span> लेता हूं।</em>
    </h6>
  </div>

  <br>
  <div class="sandbox sandbox-correct-pronounciation">
    <h6 class="heading heading-correct-pronounciation">
      <em style="color:violet;font-size: 1.2em;height: 40px;">कृप्या इन बातों का रखें ध्यान & शेयर जरूर करे</em>
    </h6>
  </div>
  <center><img  src="/images/points_corona.png" style="width: 100%; height: 100%; padding-left: 12px; padding-top: 20px;"></center>
<div class="enter-name">
  <input class="animated pulse infinite" type="name" required="" maxlength="50" name="n" id="sharename" placeholder="👉नाम लिखें और आपनी शपथ ले....">
  <a href="" id="whatsapp-share" title="Share on whatsapp"><button onclick="whatsappShare()" class="btn animated shake infinite" ><span>👉 </span> भेजें </button></a>
</div>

<script>
  
  function whatsappShare() {
    const name = document.getElementById('sharename').value || 'आपके दोस्त';
    const anchor = document.getElementById('whatsapp-share');
    let xhr = new XMLHttpRequest();
    xhr.open("POST", '/user');
    xhr.setRequestHeader('Content-type', 'application/json');
    xhr.send(JSON.stringify({ name }));
    xhr.onload = function() {
      console.log(`Loaded: ${xhr.status} ${xhr.response}`);
    };

    xhr.onerror = function() {
      console.log(`Network Error`);
    };

    xhr.onprogress = function(event) { // triggers periodically
      console.log(`Received ${event.loaded} of ${event.total}`);
    };

    const parsedName = name.split(' ').join('%2520');
    const link = `https://ewishes.herokuapp.com/?n=${parsedName}`
    let text = `whatsapp://send?text=*${name}* ने आपके लिए कुछ भेजा है%0aइस ब्लू लाइन को टच करके जल्दी देखो%0a💥 🔥 😱 😱 👇 👇%0a${link}%0aकोरोना से बचे क्यूंकी%0a*सुरक्षा जीवन का अर्थ है*%0a*सुरक्षा के बीना सब व्यर्थ है*`; 
    anchor.href = text.split(' ').join('%20');
    
  }

</script>  
<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 2000); // Change image every 2 seconds
}


function toggleNav() {
  document.getElementById("myNav-left").style.width = "0%";
  document.getElementById("myNav-right").style.width = "0%";
}
</script>

</div></div></div>